# Ignore audit folder
audit/
.idea/
science/exploration/.ipynb_checkpoints
science/reports/.ipynb_checkpoints
science/utilities/.ipynb_checkpoints

# Ignore
*.xml
*.cpython-36.pyc
*.cpython-37.pyc
*.pyc
*.DS_Store
*.swp
