# Ignore audit folder
audit/
.idea/
finance/science/exploration/.ipynb_checkpoints
finance/science/reports/.ipynb_checkpoints
finance/science/utilities/.ipynb_checkpoints

# Ignore
*.xml
*.cpython-36.pyc
*.cpython-37.pyc
*.pyc
*.DS_Store
*.swp
